.formWrapper {
	z-index: 2;
	background: url(/img/contact-form-bg.jpg) center center no-repeat;
	background-size: cover;
	padding: 190px 0 100px;
	.columns {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		.column {
			color: $color-white;
			flex: 1;
			&:last-of-type {
				max-width: 578px;
			}
			p {
				margin-top: 0;
			}
		}
	}
	input:not([type='checkbox']),
	textarea {
		background-color: rgba(50, 192, 108, 0.8);
		border: 1px solid #7ae3a5;
		box-shadow: none;
		padding: em(10) em(20);
		font-size: inherit;
		width: 100%;
		color: $color-white;
		&::placeholder {
			opacity: 1;
		}
	}
	.formRow {
		margin-bottom: 15px;
	}
	// .checkboxes {
	// 	display: flex;
	// 	flex-wrap: wrap;
	// 	align-items: center;
	// 	margin-bottom: 7.5px;
	// 	.group {
	// 		flex: 0 1 calc(50% - 7.5px);
	// 		padding: 7.5px 0;
	// 		&:nth-of-type(odd) {
	// 			margin-right: 15px;
	// 		}
	// 	}
	// }
	.projectPhone {
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: rem(24);
		&::before {
			content: url(/img/icon/icon-phone.svg);
			display: inline-block;
			margin-right: 0.5em;
			line-height: 0;
		}
	}
	.projectMail {
		display: flex;
		align-items: center;
		font-size: rem(24);
		font-weight: 700;
		&::before {
			content: url(/img/icon/icon-mail.svg);
			display: inline-block;
			margin-right: 0.5em;
			line-height: 0;
		}
	}
}
@media screen and (max-width: 1400px) {
	.formWrapper {
		& > div:last-of-type {
			padding: 65px;
		}
	}
}
@media screen and (max-width: 1200px) {
	.formWrapper {
		flex-direction: column;
		& > div:first-of-type {
			padding: 65px;
			flex-basis: auto;
		}
		& > div:last-of-type {
			flex-basis: auto;
		}
	}
}
@media screen and (max-width: 992px) {
	.formWrapper {
		margin-bottom: -160px;
	}
}
@media screen and (max-width: 767px) {
	.formWrapper {
		& > div:first-of-type,
		& > div:last-of-type {
			padding: 20px;
		}
		.projectMail,
		.projectPhone {
			font-size: rem(22);
		}
	}
}
@media screen and (max-width: 600px) {
	.formWrapper {
		margin-bottom: -45px;
		margin-left: -20px;
		margin-right: -20px;
		box-shadow: none;
		padding: 0;
		.formRow {
			flex-direction: column;
			input {
				&:not(:last-of-type) {
					margin-right: 0;
					margin-bottom: 15px;
				}
			}
		}
		.checkboxes {
			display: none;
		}
	}
}
