.formWrapper {
	z-index: 2;
	background: url(/img/contact-form-bg.jpg) center center no-repeat;
	background-size: cover;
	padding: 190px 0 100px;

	position: relative;
	.columns {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		.column {
			color: $color-white;
			flex: 1;
			&:last-of-type {
				max-width: 578px;
			}
			p {
				margin-top: 0;
			}
		}
	}
	input:not([type='checkbox']),
	textarea {
		background-color: rgba(50, 192, 108, 0.8);
		border: 1px solid #7ae3a5;
		box-shadow: none;
		padding: em(10) em(20);
		font-size: inherit;
		width: 100%;
		color: $color-white;
		&::placeholder {
			opacity: 1;
		}
	}
	.formRow {
		margin-bottom: 15px;
		a {
			text-decoration: underline;
		}
	}

	.projectPhone {
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: rem(24);
		&::before {
			content: url(/img/icon/icon-phone.svg);
			display: inline-block;
			margin-right: 0.5em;
			line-height: 0;
		}
	}
	.projectMail {
		display: flex;
		align-items: center;
		font-size: rem(24);
		font-weight: 700;
		&::before {
			content: url(/img/icon/icon-mail.svg);
			display: inline-block;
			margin-right: 0.5em;
			line-height: 0;
		}
	}
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color-font, 0.4);
	}
}
@media screen and (max-width: 1200px) {
	.formWrapper {
		padding: 50px 0;
	}
}

@media screen and (max-width: 880px) {
	.formWrapper {
		text-align: center;
	}
	.projectPhone,
	.projectMail {
		justify-content: center;
	}
	.columns {
		flex-direction: column;
		gap: 20px;
	}
}
@media screen and (max-width: 680px) {
	.formWrapper {
		&::before {
			background-color: rgba($color-font, 0.5);
		}
	}
}
