.top {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    h2 {
        margin-bottom: 0;
        flex: 0 1 40%;
    }

    p {
        flex: 0 1 60%;
    }
}

.margin {
    margin-bottom: 60px;
}

@media (max-width: 767px) {
    .margin {
        margin-bottom: 20px;
    }
}