.projekty {
    text-align: center;
    margin-top: 60px;
}

.title {
    margin-bottom: 10px;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projekt {
    flex: 0 1 24%;
    border: 1px solid #E9EBEA;
    padding: 50px;

    h5 {
        font-size: 24px;
        line-height: 42px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    p {
        color: #4E5852;
    }
}

.projekt {
    &:nth-child(odd) {
        margin-bottom: 50px;
    }

    &:nth-child(even) {
        padding-bottom: 80px;
    }
}