.progresItem {
    background-color: $color-white;
    .texts {
        padding: 50px;
        border: 1px solid $color-primary;
    }
    h2 {
        font-size: rem(32);
        margin-bottom: 20px;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
}