.section {
	position: relative;
	min-height: 636px;
	p {
		line-height: em(36, 20);
	}
}
.images {
	height: inherit;
	align-self: stretch;
	position: relative;
	.image {
		position: absolute;
	}
	.image1 {
		left: 0;
		bottom: 70px;
		z-index: 1;
	}
	.image2 {
		top: 0;
		right: 0;
		z-index: 0;
	}
	.image3 {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
	}
}

.desktopHidden,
.desktopHidden2 {
	display: none;
}

@media screen and (max-width: 992px) {
	.desktopHidden {
		display: block;
		text-align: center;
	}
	.mobileHidden {
		display: none;
	}
	.images {
		margin-bottom: 20px;
	}
	.section p {
		display: none;
	}
	.section {
		& > div {
			padding: 0 !important;
			width: 100%;
		}
	}
}
@media screen and (max-width: 767px) {
	.images {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		gap: 20px;
		.video {
			grid-row-start: 1;
			grid-column-end: span 2;
		}
		& > div {
			margin: 0;
		}
	}
	.mobileHidden2 {
		display: none;
	}
	.section {
		text-align: center;
	}
}
