.mainSection {
	background: linear-gradient(180deg, #f3f3f3 0%, rgba(217, 217, 217, 0) 100%);
	background-size: 100% 707px;
	background-repeat: no-repeat;
	background-position-y: 340px;
	position: relative;
	.container {
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	ul {
		li {
			padding-left: 1rem;
			position: relative;
			margin-bottom: 0.5em;
			&::before {
				content: '';
				width: 10px;
				height: 10px;
				background-color: $color-primary;
				position: absolute;
				left: 0;
				top: 0.4em;
			}
		}
		ul {
			margin: 0.5em 0;
		}
	}
	ol {
		padding-left: 1rem;
	}
}
.heroImage {
	margin-top: -340px;
	line-height: 0;
}
.contentWrapper {
	display: flex;
	main {
		flex: 0 1 1050px;
		background-color: $color-white;
		margin-top: -100px;
		position: relative;
		padding: 75px;
	}
	aside {
		flex: 0 1 390px;
		padding: 40px;
	}
	.kategorie {
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(-100%);
		font-weight: 700;
		text-transform: uppercase;
		font-size: rem(24);
		span {
			background-color: $color-primary;
			padding: em(10) em(20);
			display: inline-block;
		}
	}
	h1 {
		font-size: clamp(rem(36), 5vw, rem(64));
	}
	h2 {
		font-size: rem(32);
		line-height: em(42, 32);
	}
	h3 {
		font-size: rem(24);
		line-height: em(36, 24);
	}
	h4 {
		font-size: rem(16);
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 1.5em 0 1em;
	}
}
@media screen and (max-width: 992px) {
	.contentWrapper {
		flex-direction: column-reverse;
		aside {
			flex-basis: auto;
		}
		main {
			margin-top: 0;
			padding: 40px 20px;
		}
		.kategorie {
			position: initial;
			transform: none;
			margin-bottom: 10px;
		}
	}
	.heroImage {
		margin-top: -260px;
	}
}
@media screen and (max-width: 767px) {
	.contentWrapper {
		h2 {
			font-size: rem(24);
		}
		h3 {
			font-size: rem(18);
		}
	}
	.mainSection {
		background: none;
	}
	.heroImage {
		margin-top: -100px;
	}
}
