.heroArticle {
    position: relative;
}
.heroTexts {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    & > div > * {
        max-width: 700px;
    }
    h1 {
        font-size: rem(56);
    }
}
.heroCat {
    font-size: rem(90);
    line-height: em(125,90);
    text-transform: uppercase;
    font-weight: 700;
    color: $color-primary;
    &::after {
        content: ":";
    }
}
.articleContainer {
    max-width: 1000px;
    margin-bottom: 200px;
    h2 {
        font-size: rem(48);
        line-height: em(72,48);
    }
    h3 {
        font-size: rem(32);
        line-height: em(42,32);
    }
    h4 {
        font-size: rem(24);
        line-height: em(42,24);
    }
    h2, h3, h4, h5, h6 {
        margin: 1.5em 0 1em;
    }
    ul {
        list-style: circle;
        padding-left: 40px;
    }
}