.projektBanner {
    position: relative;
    z-index: 1;
    background-color: $color-primary;
    color: $color-font;
    padding: 100px 0 70px;
    margin-top: 150px;
    margin-bottom: -60px;
    h2 {
        margin-bottom: 0;
        span {
            color: $color-white;
        }
    }
    .rocket {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &>div {
        flex-wrap: nowrap;
    }
}

@media (max-width: 992px) {
    .projektBanner {
        text-align: center;
        padding: 40px 20px;
        background-image: url('/img/backgroundMobil.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        &>div>div:first-child {
            display: none;
        }

        p {
            display: none;
        }

        h2 {
            margin-bottom: 40px;
        }
    }
}
@media screen and (max-width: 767px) {
    .projektBanner {
        margin-top: 60px;
        margin-bottom: 0;
    }
}