.projektBanner {
    position: relative;
    z-index: 1;
    background-color: $color-primary;
    color: $color-font;
    padding: 100px 0 70px;
    margin-top: 150px;
    margin-bottom: -100px;
    h2 {
        margin-bottom: 0;
        span {
            color: $color-white;
        }
    }
    .rocket {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}