.sluzba {
    border: 1px solid #59DC8E;
    padding: 50px;
    transition: background-color .3s ease-in;
    height: 100%;
    display: flex;
    flex-direction: column;
    a {
        margin-right: 0;
        margin-left: auto;
        margin-top: auto;
    }

    h4 {
        margin-bottom: 15px;
    }

    &:hover {
        background-color: $color-primary;

        .poradi {
            color: #fff;
        }

        .btnSm {
            background-color: #fff;
        }
    }
}

.poradi {
    color: $color-primary;
    font-size: 2rem;
    line-height: 1.3125em;
    font-weight: 700;
    transition: color .3s ease-in;
}
.ourServiceBtn {
    margin: 20px 0 0;
    text-align: center;
}