.sluzbyGrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(1px,1fr));
    grid-template-rows: repeat(3, minmax(1px,1fr));
}
.item {
    &:not(.image) {
        padding: 65px 30px;
    }
    &.image {
        line-height: 0;
    }
    h3, h2 {
        text-align: left;
    }
    h2 {
        margin: 0;
    }
    h3 {
        font-size: 1rem;
        margin: em(20,16) 0;
    }
    p {
        line-height: em(28,16);
    }
    &:nth-of-type(2) {
        background-color: rgba($color-primary, .2);
    }
    &:nth-of-type(5),
    &:nth-of-type(6) {
        background-color: rgba($color-primary, .4);
    }
    &:nth-of-type(3),
    &:nth-of-type(9) {
        background-color: rgba($color-primary, .1);
    }
    &:nth-of-type(8) {
        background-color: rgba($color-primary, .05);
    }
    &.large {
        grid-column-end: span 2;
        grid-row-end: span 2;
        padding: 90px 60px;
        p {
            font-size: rem(24);
            margin-top: 0;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: flex;
            align-items: center;
            margin-bottom: .4em;
            &::before {
                content: url(/img/icon/list-marker.svg);
                display: inline-block;
                line-height: 0;
                margin-right: .4em;
            }
        }
    }
}
.certifikace {
    margin-bottom: 55px;
    & > span:not(:last-of-type) {
        margin-right: 40px !important;
    }
}
.usp {
    background-color: $color-primary;
    padding: 45px 85px;
    margin: 0 -85px;
    color: $color-white;
    display: flex;
    justify-content: space-between;
    .uspItem {
        padding: 15px;
        flex: 0 1 16.67%;
        p {
            margin: 0;
        }
    }
}