.footer {
    background: $color-font;
    color: #fff;
    padding-bottom: 45px;
    padding-top: 200px;
    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 30px;
        margin-top: 0;

        li {
            line-height: 28px;
            .green {
                color: $color-primary;
            }
        }

        &:first-of-type {
            margin-top: 30px;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: calc(1440px + 4rem);
        margin: 0 -1rem;
        &>div:not(.sluzby)  {
            display: flex;
            flex-direction: column;
        }
        & > div {
            padding: 0 1rem;
        }
    }

    h4 {
        margin-bottom: 0;
        line-height: 1em;
        text-align: left;
        color: $color-primary;
    }

    .sluzby {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 0 1 35%;
        justify-content: space-between;
    }

    .footerBottom {
        width: 100%;
        text-align: center;
        margin-top: 60px;
    }
}

.phone, .mail {
    font-weight: 700;
    font-size: 24px;
    line-height: 42px;
    position: relative;
    color: $color-primary;
    display: inline-block;
    &:before {
        margin-right: .5em;
    }
}

.phone:before {
    content: url('/img/icon/icon-phone.svg');
}

.mail:before {
    content: url('/img/icon/icon-mail.svg');
}

.partneri {
    width: 100%;
    & > div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 30px;
        & > div {
            display: flex;
            justify-content: center;
            flex: 0 1 110px;
        }
    }
}

.socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    & > div {
        flex: 0 1 350px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a:not(.mail):not(.phone) {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 64px;
        min-width: 64px;
        svg {
            fill: $color-primary;
            transition: all .3s ease-in;
        }
        &:hover, &:focus {
            svg {
                fill: $color-white;
            }
        }
    }
}

.signature {
    margin-top: 20px;
    color: $color-white;
    opacity: .6;
}

.footerLogo {
    fill: $color-primary;
}
@media screen and (max-width: 767px) {
    .footer {
        h4 {
            font-size: rem(22);
        }
    }
    .phone, .mail {
        font-size: rem(16);
    }
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        padding: 0 2rem;
    }
    .footer {
        padding-top: 40px;
    }
    .logo {
        text-align: center;
    }
    .acordeon {
        h4 {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &::after {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                border: 2px solid $color-primary;
                border-style: none solid solid none;
                transform: rotate(45deg);
                transition: transform .3s ease-in;
            }
        }
        & > ul,
        & > div {
            max-height: 0;
            overflow: hidden;
            transition: max-height .3s ease-in;
        }
        &.visible {
            & > div,
            & > ul {
                max-height: 400px;
            }
            h4::after {
                transform: rotate(-135deg);
            }
        }
    }
}