.footer {
    background: $color-font;
    color: #fff;
    padding-bottom: 45px;
    padding-top: 200px;
    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 30px;
        margin-top: 0;

        li {
            line-height: 28px;
            strong {
                color: $color-primary;
            }
        }

        &:first-of-type {
            margin-top: 30px;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &>div:not(.sluzby)  {
            display: flex;
            flex-direction: column;
        }
    }

    h4 {
        margin-bottom: 0;
        text-align: left;
        color: $color-primary;
    }

    .sluzby {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 0 1 35%;
        justify-content: space-between;
    }

    .footerBottom {
        width: 100%;
        text-align: center;
        margin-top: 100px;
    }
}

.phone, .mail {
    font-weight: 700;
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 12px;
    position: relative;
    margin-left: 14px;
    padding-left: 27px;
    color: $color-primary;

    &:before {
        position: absolute;
        left: - 14px;
        bottom: -3px;
    }
}

.phone:before {
    content: url('/img/icon/icon-phone.svg');
}

.mail:before {
    content: url('/img/icon/icon-mail.svg');
}

.partneri {
    width: 100%;

    div {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
}

.socials {
    display: flex;
    justify-content: center;
    a {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 64px;
        min-width: 64px;
        svg {
            fill: $color-primary;
            transition: all .3s ease-in;
        }
        &:not(:last-of-type) {
            margin-right: 20px;
        }
        &:hover, &:focus {
            svg {
                fill: $color-white;
            }
        }
    }
}

.signature {
    margin-top: 20px;
    color: $color-white;
    opacity: .6;
}

.footerLogo {
    fill: $color-primary;
}