.hashtags {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	.hashtag {
		font-size: rem(12);
		padding: em(8) em(12);
		border: 1px solid $color-font;
	}
}
.texts p {
	margin-top: 0;
}
.imageWrapper {
	padding: 20px;
	background-color: rgba($color-font, 0.1);
}

@media screen and (min-width: 1049px) {
	.imageWrapper {
		display: none !important;
	}
}
