.sluzbyWrapper {
	gap: 50px !important;
	margin-bottom: 60px;
}
.sluzbyList {
	margin: 0;
	li:not(:last-of-type) {
		border-bottom: 1px solid #b7b7b7;
	}
}
@media screen and (max-width: 1048px) {
	.sluzbyWrapper {
		gap: 0 !important;
		flex-direction: column;
		.columnImage {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.sluzbyWrapper {
		margin-bottom: 0;
	}
}
