.listItem {
	position: relative;
	padding-right: 60px;
	padding: 20px 0;
	cursor: pointer;
	h3 {
		margin: 0;
		transition: all 0.3s ease-in;
	}
	&:hover,
	&:focus {
		h3 {
			color: $color-primary;
		}
		.arrow {
			svg {
				fill: $color-font;
			}
		}
	}
}
@media screen and (max-width: 1048px) {
	.arrow {
		position: absolute;
		right: 12px;
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
		width: 14px;
		height: 14px;
		border: 2px solid $color-font;
		border-style: none solid solid none;
		// svg {
		//     fill: #B7B7B7;
		//     transition: all .3s ease-in;
		// }
	}
}

@media screen and (max-width: 767px) {
	.listItem h3 {
		font-size: rem(24);
	}
}
