.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1000000;
    display: flex;
    align-items: center;
    justify-content: center;
    // svg {
    //     animation: enlarge 2s ease-out infinite;
    //     position: absolute;
    //     max-width: 120px;
    // }
    // div {
    //     border: 5px solid $color-primary;
    //     padding: 8px;
    //     border-left-color: transparent;
    //     border-top-color: transparent;
    //     border-radius: 50%;
    //     width: 100%;
    //     height: 100%;
    // }
    // & > div {
    //     width: 300px;
    //     height: 300px;
    //     transform: rotate(30deg);
    //     animation: rotate 4s ease-in-out infinite .3s;
    //     & > div {
    //         transform: rotate(-45deg);
    //         animation: rotate 2s ease-in-out infinite .6s;
    //         & > div {
    //             transform: rotate(15deg);
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             padding: 50px;
    //             position: relative;
    //             animation: rotate 3s ease-in-out infinite .9s;
    //         }
    //     }
    // }
}

@keyframes enlarge {
    0% {
        transform: none;
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: none;
    }
}
@keyframes rotate {
    0% {
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
    }
}