.grid {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 60px;
    article {
        flex: 1 1 360px;
        cursor: pointer;
        h1 {
            font-size: rem(24);
            line-height: em(42,24);
            margin-bottom: 10px;
            transition: all .3s ease-in;
        }
        .cat {
            text-transform: uppercase;
            font-weight: 700;
            &::after {
                content: ":";
                font-size: rem(32);
                line-height: em(32,42);
            }
            span {
                font-size: rem(32);
                line-height: em(32,42);
                display: inline-block;
            }
        }
        .image {
            margin-bottom: 20px;
        }
        &:hover, &:focus {
            h1 {
                color: $color-primary;
            }
        }
    }
}
.heroArticle {
    position: relative;
    min-height: 1021px;
}
.heroTexts {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    & > div > * {
        max-width: 700px;
    }
    h1 {
        font-size: clamp(rem(32), 4vw, rem(56));
    }
}
.heroCat {
    font-size: clamp(rem(58), 6vw, rem(90));
    line-height: em(125,90);
    text-transform: uppercase;
    font-weight: 700;
    color: $color-primary;
    &::after {
        content: ":";
    }
}
.readMore {
    display: flex;
    align-items: center;
    span:first-of-type {
        margin-right: 1em;
    }
    span:last-of-type {
        text-decoration: underline;
        transition: all .3s ease-in;
    }
    &:hover, &:focus {
        color: $color-primary;
    }
}
@media screen and (max-width: 992px) {
    .heroArticle {
        min-height: 600px;
    }
}
@media screen and (max-width: 767px) {
    .heroTexts {
        bottom: 20px;
        top: unset;
        transform: none;
    }
    .grid {
        gap: 30px;
    }
}