.slideItem {
	position: relative;
	img {
		transition: transform 0.3s ease-in;
	}
	&:hover,
	&:focus {
		img {
			transform: scale(1.05);
		}
	}
	.anchor {
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
	}
	&:not(:last-of-type) {
		margin-bottom: 20px;
	}
}
.buttonsWrap {
	margin-top: 20px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 70px 50px;
	margin: 40px 0 80px;
	.number {
		color: $color-primary;
		font-weight: 700;
		font-size: rem(32);
	}
	p {
		margin: 0;
		line-height: em(28);
	}
}
.procShoptet {
	h2 {
		margin-bottom: 10px;
	}
	h3 {
		font-size: rem(24);
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: flex;
			align-items: center;
			margin-bottom: 0.4em;
			&::before {
				content: url(/img/icon/list-marker.svg);
				display: inline-block;
				line-height: 0;
				margin-right: 0.4em;
			}
		}
	}
}
.systemy {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin: 40px 0;
	img {
		filter: grayscale(1);
		transition: all 0.3s ease-in;
		&:hover,
		&:focus {
			filter: none;
		}
	}
}
.anchors {
	position: sticky;
	top: 0;
	background-color: $color-white;
	z-index: 4;
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		// gap: 20px;
	}
	a {
		padding: em(10) em(20);
		transition: all 0.3s ease-in;
		display: inline-block;
		&:hover,
		&:focus {
			background-color: $color-font;
			color: $color-white;
		}
	}
}
.banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 100px;
	cursor: pointer;
	.image {
		margin: -30px 0px -30px -100px;
		background: radial-gradient(at center, rgba($color-white, 1) 0%, transparent 80%);
		img {
			transition: all 0.3s ease-in;
		}
	}
	.text {
		font-size: rem(24);
		position: relative;
		z-index: 1;
		strong {
			font-size: em(56, 24);
			display: block;
		}
	}
	.logo {
		margin-right: 50px;
	}
	.arrow {
		svg {
			fill: $color-font;
		}
	}
	&:hover,
	&:focus {
		.image img {
			transform: scale(1.05);
		}
	}
}
@media screen and (max-width: 1200px) {
	.banner {
		padding: 40px;
	}
}
@media screen and (max-width: 992px) {
	.banner {
		display: grid;
		grid-template-columns: repeat(2, minmax(1px, 1fr));
		text-align: center;
		.image {
			margin: 0;
		}
		.logo {
			margin: 0;
		}
	}
}
@media screen and (max-width: 767px) {
	.grid {
		margin: 20px 0 45px;
		gap: 20px;
	}
	.anchors {
		nav {
			overflow-x: auto;
		}
		ul {
			flex-wrap: nowrap;
			white-space: nowrap;
			justify-content: flex-start;
		}
	}
	.procShoptet {
		h2,
		p {
			text-align: center;
		}
		.grid p {
			text-align: left;
		}
	}
	.systemy {
		background-color: rgba($color-font, 0.05);
	}
}
@media screen and (max-width: 680px) {
	.anchors nav {
		white-space: nowrap;
		overflow-x: auto;

		ul {
			flex-wrap: nowrap;
			margin: 0;
		}
	}
}
@media screen and (max-width: 660px) {
	.banner {
		display: flex;
		flex-direction: column;
		padding: 40px 20px;
		.arrow {
			display: flex;
			align-items: center;
			margin-top: 20px;
			&::before {
				content: 'Zjistit více';
				margin-right: 1em;
			}
		}
	}
	.systemy {
		gap: 20px;
		& > span {
			flex: 0 1 100px;
		}
	}
}
