$color-white: #FFF;
$color-font: #000;
$color-primary: #59DC8E;

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Medium'), local('Poppins-Medium'),
      url('/fonts/Poppins-Medium.woff2') format('woff2'),
      url('/fonts/Poppins-Medium.woff') format('woff'),
      url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Italic'), local('Poppins-Italic'),
      url('/fonts/Poppins-Italic.woff2') format('woff2'),
      url('/fonts/Poppins-Italic.woff') format('woff'),
      url('/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Bold'), local('Poppins-Bold'),
      url('/fonts/Poppins-Bold.woff2') format('woff2'),
      url('/fonts/Poppins-Bold.woff') format('woff'),
      url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins SemiBold Italic'), local('Poppins-SemiBoldItalic'),
      url('/fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
      url('/fonts/Poppins-SemiBoldItalic.woff') format('woff'),
      url('/fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
      url('/fonts/Poppins-ExtraBold.woff2') format('woff2'),
      url('/fonts/Poppins-ExtraBold.woff') format('woff'),
      url('/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins ExtraBold Italic'), local('Poppins-ExtraBoldItalic'),
      url('/fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/Poppins-ExtraBoldItalic.woff') format('woff'),
      url('/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Thin Italic'), local('Poppins-ThinItalic'),
      url('/fonts/Poppins-ThinItalic.woff2') format('woff2'),
      url('/fonts/Poppins-ThinItalic.woff') format('woff'),
      url('/fonts/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Black Italic'), local('Poppins-BlackItalic'),
      url('/fonts/Poppins-BlackItalic.woff2') format('woff2'),
      url('/fonts/Poppins-BlackItalic.woff') format('woff'),
      url('/fonts/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Medium Italic'), local('Poppins-MediumItalic'),
      url('/fonts/Poppins-MediumItalic.woff2') format('woff2'),
      url('/fonts/Poppins-MediumItalic.woff') format('woff'),
      url('/fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Black'), local('Poppins-Black'),
      url('/fonts/Poppins-Black.woff2') format('woff2'),
      url('/fonts/Poppins-Black.woff') format('woff'),
      url('/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Light Italic'), local('Poppins-LightItalic'),
      url('/fonts/Poppins-LightItalic.woff2') format('woff2'),
      url('/fonts/Poppins-LightItalic.woff') format('woff'),
      url('/fonts/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'),
      url('/fonts/Poppins-ExtraLight.woff2') format('woff2'),
      url('/fonts/Poppins-ExtraLight.woff') format('woff'),
      url('/fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins ExtraLight Italic'), local('Poppins-ExtraLightItalic'),
      url('/fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
      url('/fonts/Poppins-ExtraLightItalic.woff') format('woff'),
      url('/fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Regular'), local('Poppins-Regular'),
      url('/fonts/Poppins-Regular.woff2') format('woff2'),
      url('/fonts/Poppins-Regular.woff') format('woff'),
      url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Light'), local('Poppins-Light'),
      url('/fonts/Poppins-Light.woff2') format('woff2'),
      url('/fonts/Poppins-Light.woff') format('woff'),
      url('/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'),
      url('/fonts/Poppins-BoldItalic.woff2') format('woff2'),
      url('/fonts/Poppins-BoldItalic.woff') format('woff'),
      url('/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
      url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('/fonts/Poppins-SemiBold.woff') format('woff'),
      url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: clamp(14px, 1rem, 16px);
}
body {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
h1 {
  font-size: rem(92);
  line-height: 1.4em;
}
h2 {
  font-size: rem(48);
  line-height: em(72,48);
}

h3 {
  font-size: rem(56);
}

h4 {
  font-size: rem(32);
  line-height: em(42,32);
}
section {
  margin-bottom: 100px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  &.align-center {
    align-items: center;
  }
  &.col-1-4 {
    .column:first-of-type {
      flex: 0 1 25%;
    }
    .column {
      flex: 0 1 75%;
    }
  }

  .col-4 {
    flex: 0 1 auto;
  }
  &.col-2 {
    .column {
      flex: 0 1 50%;
    }
  }
  &.col-4-6 {
    .column {
      flex: 0 1 60%;
    }
    .column:first-of-type {
      flex: 0 1 40%;
    }
  }
  &.col-2-3 {
    .column {
      flex: 0 1 66.67%;
    }
    .column:first-of-type {
      flex: 0 1 33.33%;
    }
  }
}

.btn {
  display: inline-block;
  line-height: 1em;
  padding: em(20);
}
.btn.btn-primary {
  background-color: #59DC8E;
  color: $color-font;
  border: 1px solid $color-primary;
}
.btn.btn-secondary {
  border: 1px solid #59DC8E;
  color: $color-font;
  background-color: $color-white;
}
.text-center {
  text-align: center;
}
.narrow {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.buttons-wrapper {
  display: flex;
  padding: 20px 0;
  &.justify-center {
    justify-content: center;
  }
  .btn:not(:last-of-type) {
    margin-right: rem(20);
  }
}


.blur {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

.negative-margin {
  margin-top: -180px;
  position: relative;
  z-index: 1;
}


// NOT COMPONENTS SECTION
.reference {
  font-size: rem(20);
  line-height: em(36, 20);
  p {
    margin: 0;
  }
  h2 {
      margin-bottom: 0;
      text-align: left;
  }
}
.systemy {
  h2 {
    text-align: left;
  }
  .img-wrapper {
    position: relative;
    left: -180px;
  }
}
.proc-shoptet-block {
  position: relative;
  margin-top: 70px;
  .item {
    background-color: rgba($color-white, .9);
    backdrop-filter: blur(20px); 
    position: absolute;
    max-width: 360px;
    padding: 50px;
    border: 1px solid $color-primary;
    &:nth-of-type(2) {
      top: 0;
      left: 0;
    }
    &:nth-of-type(3) {
      top: 0;
      right: 140px;
    }
    &:nth-of-type(5) {
      bottom: 90px;
      left: 90px;
    }
    &:nth-of-type(4) {
      bottom: 120px;
      right: 140px;
    }
  }
  .bg-img {
    text-align: center;
    padding: 20px 0;
  }
  .number {
    font-size: rem(32);
    font-weight: 700;
    color: $color-primary;
  }
  .mockup {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

// SLUŽBY PAGE

.green-background {
  background-color: #EAFFF2;
  max-width: 750px;
  max-height: 750px;
  flex: 1;
}

.sluzby {
  margin-top: 150px;

  .sluzby-div:nth-child(odd) {
    .sluzby-img {
      left: 0;
    }
  }

  .sluzby-div:nth-child(even) {
    .sluzby-img {
      right: 0;
    }
  }
  
}

.sluzby-img {
  position: absolute;
  max-width: 65%;
}

.sluzby-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 140px;



  h3 {
    line-height: 68px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  

  &>div:not(.green-background) {
      width: 35%;
  }
}
.konfigurator {
  background-color: rgba($color-primary, .1);
  padding: 128px 94px;
  h2 {
    margin: 0;
  }
  p {
    margin: 26px 0;
  }
}

.balicky-table {
  font-weight: 700;
  font-size: rem(24);
  width: 100%;
  border-collapse: collapse;
  td, th {
    width: 20%;
    padding: em(15,24) 0;
    text-align: center;
    background-color: #F2F2F2;
  }
  td:nth-of-type(3),
  th:nth-of-type(3) {
    width: 26.67%;
    background-color: $color-primary;
  }
  th:first-of-type,
  td:first-of-type {
    width: 33.33%;
    text-align: left;
    background-color: transparent;
    padding-right: em(30,24);
  }
  tr:first-of-type {
    th:nth-of-type(3) {
      padding-top: em(45,24);
      position: relative;
      &::after {
        content: url(/img/icon/flag-nejprodavanejsi.svg);
        position: absolute;
        top: -8px;
        right: -8px;
      }
    }
    th:nth-of-type(2),
    th:nth-of-type(4) {
      display: block;
      width: 100%;
      margin-top: em(30,24);
    }
  }
  tr:last-of-type {
    td {
      padding-bottom: em(30,24);
    }
  }
  .cross {
    &::after {
      content: url(/img/icon/cross.svg);
    }
  }
  .checked {
    &::after {
      content: url(/img/icon/check.svg);
    }
  }
}