.hero {
    position: relative;
    color: $color-white;
    min-height: 650px;
    height: 100vh;
}

.itemTexts {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    h1 {
        text-align: left;
        max-width: 780px;
        color: $color-primary;
        margin-bottom: 0;
        font-size: clamp(rem(64), 9vw, rem(134));
    }
    p {
        font-size: rem(24);
        line-height: em(40,24);
    }
    .sidlo {
        padding-left: 10%;
        p {
            font-size: 1rem;
        }
        h2 {
            font-size: rem(32);
        }
    }
}

.contactButton {
    font-size: rem(24);
    line-height: em(42,24);
    padding: em(20,24);
    background-color: $color-primary;
    color: $color-font;
    &::before {
        margin-right: em(20,24);
    }
}
.mapSection {
    height: 900px;
    background: url(/img/mapa.jpg) center center no-repeat;
    background-size: cover;
}
.sidloMobile {
    display: none;
    margin: 20px 0;
    h2 {
        font-size: rem(32);
    }
}
@media screen and (max-width: 1018px) {
    .itemTexts {
        .sidlo {
            display: none;
        }
    }
    .sidloMobile {
        display: block;
    }
}
@media screen and (max-width: 767px) {
    .contactButton {
        font-size: rem(16);
    }
    .itemTexts {
        padding-bottom: 20px;
        align-items: flex-end;
        p {
            font-size: rem(16);
        }
    }
}