.hero {
	position: relative;
	color: $color-white;
	min-height: 650px;
	height: 100vh;
}

.itemTexts {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	z-index: 1;
	h1 {
		text-align: left;
		max-width: 780px;
		color: $color-primary;
		margin-bottom: 0;
		font-size: clamp(rem(36), 9vw, rem(64));
		line-height: em(160, 64);
	}
}
.columns {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	.column {
		flex: 1 1 400px;
	}
}
.tilesDesktop {
	position: relative;
	color: $color-font;
	align-self: stretch;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	.mail,
	.phone,
	.address {
		position: absolute;
	}
	.mail {
		top: 0;
		left: 50%;
		transform: translateX(-35%) translateY(-20%);
	}
	.phone,
	.address {
		transform: translateY(20%);
	}
	.phone {
		right: 50%;
		bottom: 0;
	}
	.address {
		left: calc(50% - 2px);
		bottom: -40px;
	}
}
.mail {
	background-color: #7ae3a5;
}
.phone {
	background-color: #59dc8e;
}
.address {
	background-color: #9beabb;
}
.mail,
.phone,
.address {
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;
	border: 2px solid $color-font;
	font-weight: 700;
}
.maxWidth {
	max-width: 1200px;
}
.scrollDown {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	.arrow {
		display: inline-block;
		position: relative;
		span {
			display: inline-block;
			transform: rotate(-90deg);
			position: absolute;
			top: 16px;
			left: 0;
			color: $color-white;
		}
		svg {
			animation: bounce 2s infinite ease-out;
		}
	}
}
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 25px;
}
.item {
	position: relative;
	color: $color-white;
	.texts {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-height: 130px;
		overflow: hidden;
		transition: all 0.3s ease-in;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h3 {
			font-size: rem(32);
			margin: 0;
		}
		.hover {
			height: 0;
			overflow: hidden;
			opacity: 0;
			transition: all 0.3s ease-in;
			a {
				margin-top: 19px;
				display: block;
			}
		}
	}
	&:hover,
	&:focus {
		.texts {
			max-height: 500px;
			background-color: rgba($color-primary, 0.8);
			color: $color-font;
			.hover {
				height: auto;
				opacity: 1;
			}
		}
	}
}
.tilesMobile {
	display: none;
}
@keyframes bounce {
	0% {
		transform: none;
	}
	50% {
		transform: translateY(10%);
	}
	100% {
		transform: none;
	}
}
.contactButton {
	font-size: rem(24);
	line-height: em(42, 24);
	padding: em(20, 24);
	background-color: $color-primary;
	color: $color-font;
	&::before {
		margin-right: em(20, 24);
	}
}
.mapSection {
	height: 900px;
	background: url(/img/mapa.jpg) center center no-repeat;
	background-size: cover;
}
@media screen and (max-width: 1200px) {
	.mail,
	.phone,
	.address {
		width: 250px;
		height: 250px;
	}
	.tilesDesktop {
		.mail {
			left: unset;
			right: 0;
			top: 50%;
			transform: translate(-35%, -80%);
		}
		.address {
			left: unset;
			right: 0;
			bottom: unset;
			top: 45%;
		}
	}
}
@media screen and (max-width: 1018px) {
	.tilesDesktop {
		display: none;
	}
	.tilesMobile {
		display: block;
	}
	.mail,
	.address,
	.phone {
		position: initial;
		transform: none;
		width: auto;
	}
	.tiles {
		gap: 20px;
		flex-basis: auto;
	}
	.tilesGrid {
		margin-top: 100px;
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
}
@media screen and (max-width: 767px) {
	.contactButton {
		font-size: rem(16);
	}
	.grid {
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		gap: 20px;
	}
	.item .texts {
		h3 {
			font-size: rem(24);
		}
	}
	.tilesGrid {
		margin-top: 50px;
	}
}
