.grid {
	display: grid;
	grid-template-columns: repeat(6, minmax(1px, 1fr));
	grid-template-rows: minmax(710px, 1fr) repeat(7, minmax(466px, auto));
	text-align: left;
	gap: 20px;
	& > div {
		grid-column-end: span 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		p {
			margin-top: 0;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	.itemWide {
		grid-column-end: span 3;
	}
	.itemWider {
		grid-column-end: span 4;
	}
	.textItem {
		padding: 50px;
		strong {
			font-size: rem(48);
			line-height: em(68, 56);
			span {
				font-size: em(16, 56);
				line-height: 1.2em;
				display: block;
			}
		}
		&:nth-of-type(1) {
			background-color: rgba($color-font, 0.05);
		}
		&:nth-of-type(4) {
			background-color: rgba($color-font, 0.1);
		}
		&:nth-of-type(6) {
			background-color: rgba($color-font, 0.3);
		}
		&:nth-of-type(9) {
			background-color: rgba($color-font, 0.1);
		}
		&:nth-of-type(15) {
			background-color: rgba($color-font, 0.05);
		}
		&:nth-of-type(17) {
			background-color: rgba($color-primary, 1);
		}
		&:nth-of-type(19) {
			background-color: rgba($color-font, 0.2);
		}
	}
	a {
		align-self: flex-start;
	}
}

@media screen and (max-width: 992px) {
	.grid {
		grid-template-columns: repeat(4, minmax(1px, 1fr));
		grid-template-rows: repeat(13, minmax(400px, 1fr));
		.itemWide {
			grid-column-end: span 4;
		}
		.itemWider {
			grid-column-end: span 4;
		}
	}
}
@media screen and (max-width: 767px) {
	.grid {
		grid-template-columns: repeat(2, minmax(1px, 1fr));
		grid-template-rows: minmax(335px, auto) repeat(13, minmax(162px, auto));
		gap: 15px;
		& > div {
			grid-column-end: unset;
			text-align: center;
			&:nth-of-type(16) {
				grid-row-start: 3;
			}
		}
		.itemWide,
		.itemWider,
		.mobileWide {
			grid-column-end: span 2;
		}
		.itemBuchta {
			grid-row-start: 1;
		}
		.textItem {
			aspect-ratio: 1/1;
			padding: 20px;
			strong.small {
				font-size: rem(24);
				span {
					font-size: em(16, 24);
					font-weight: 400;
				}
			}
		}
	}
}
