.sluzby {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    & > div {
        flex: 1 1 520px;
    }
    .sluzba {
        border: 1px solid $color-primary;
        padding: 50px;
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
        &>div:first-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h4 {
                margin-bottom: 0;
                span {
                    color: $color-primary;
                    margin-right: 15px;
                }
            }
        }
        .text {
            max-height: 0;
            overflow: hidden;
            transition: max-height .3s ease-in;
        }
        &:hover, &:focus {
            .text {
                max-height: 600px;
            }
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .sluzby {
        .sluzba {
            padding: 20px;
            h4 {
                font-size: rem(22);
            }
        }
    }
}