.sluzby {
    column-count: 2;
    gap: 20px;
    .sluzba {
        border: 1px solid $color-primary;
        padding: 50px;
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
        &>div:first-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h4 {
                margin-bottom: 0;
                span {
                    color: $color-primary;
                    margin-right: 15px;
                }
            }
        }
        .text {
            max-height: 0;
            overflow: hidden;
            transition: max-height .3s ease-in;
        }
        &:hover, &:focus {
            .text {
                max-height: 600px;
            }
        }
    }
}

